################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAB1/.vs/LAB1/FileContentIndex/27caa3d2-0c18-4724-b370-057fde6535ec.vsidx
/LAB1/.vs/LAB1/FileContentIndex/3b1ce048-f4a1-462b-a45f-37b375520250.vsidx
/LAB1/.vs/LAB1/FileContentIndex/b0c3584b-d24c-451e-9525-397f6bbbf3bf.vsidx
/LAB1/.vs/LAB1/FileContentIndex/cf793d11-235a-4102-b360-2dff89e0ce8b.vsidx
/LAB1/.vs/LAB1/FileContentIndex/cf9b2a52-1424-4ee2-8b8b-e144a7ed1546.vsidx
/LAB1/.vs/LAB1/FileContentIndex/51ea3f22-5970-4e8c-a1ca-d36e41631cea.vsidx
/LAB1/.vs/LAB1/FileContentIndex/bdedd550-0d66-4230-a0dc-b8933ff7228c.vsidx
/LAB1/.vs/LAB1/FileContentIndex/14fd24e4-3d5d-481a-90a2-9ee7ce2bfc52.vsidx
/LAB1/.vs/LAB1/FileContentIndex/a180a618-acb4-43e7-b754-a3f504e47d54.vsidx
