################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAB1/.vs/LAB1/FileContentIndex/27caa3d2-0c18-4724-b370-057fde6535ec.vsidx
/LAB1/.vs/LAB1/FileContentIndex/3b1ce048-f4a1-462b-a45f-37b375520250.vsidx
/LAB1/.vs/LAB1/FileContentIndex/b0c3584b-d24c-451e-9525-397f6bbbf3bf.vsidx
/LAB1/.vs/LAB1/FileContentIndex/cf793d11-235a-4102-b360-2dff89e0ce8b.vsidx
/LAB1/.vs/LAB1/FileContentIndex/cf9b2a52-1424-4ee2-8b8b-e144a7ed1546.vsidx
